/* CRESUD theme */
html, body {
  background: url('../images/splashscreens/desktop/background.png') no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 2000px 0 0 0 rgba(107, 98, 78, 0.5);
  height: auto;
  margin-top: 0;
}
.cresud-logo img {
  float: right;
  margin-right: 10px;
  margin-top: 25px;
}
.cresud {
  display: block;
}
.brasilagro-logo img {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
}
/* large screens */
@media (min-width: 1024px) {
  .cresud-logo img {
    height: 90px;
  }
  .brasilagro-logo img {
    height: 90px;
  }
}
/* aesthetic purposes only */
@media (min-width: 1000px) {
  .button {
    font-size: 0.95rem !important;
  }
  .st-login-title h2 {
    padding-left: 0px !important;
  }
}
/* medium screens */
@media (min-width: 640px) {
  .st-ae-logo {
    margin-top: 25px;
  }
  .button {
    font-size: 0.8rem;
  }
  .st-login-form input[type="submit"] {
    background-color: rgb(12, 29, 25);
  }
  .cresud-logo img {
    height: 70px;
  }
  .brasilagro-logo img {
    height: 70px;
  }
  .st-login-title h2 {
    font-size: 1.5em;
    padding-left: 40px;
  }
  .st-login-social, .st-login-form {
    width: 33% !important;
  }
  .st-login-social {
    margin-left: 15%;
  }
  .st-login-social .social span {
    top: 12px;
  }
  .facebook span, .google-plus span {
    padding-left: 5px;
  }

}
/* small screens */
@media (max-width: 639px) {
  body {
    margin-top: 0;
  }
  .cresud-logo img {
    height: 40px;
  }
  .brasilagro-logo img {
    height: 50px;
  }
  .st-login-title h2 {
    font-size: 1.5em;
    padding-left: inherit;
  }
  .st-ae-logo {
    margin-top: 10px;
  }
  .st-login-form {
    padding-right: 0;
  }
  .button {
    font-size: 1rem;
  }
  .st-login-social button {
    width: 80%;
  }
  .facebook span, .google-plus span {
    padding-left: 5px;
  }
}
