/* CRESUD theme */
html, body {
  background: url('../images/splashscreens/desktop/background.png') no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 2000px 0 0 0 rgba(107, 98, 78, 0.5);
  height: auto;
  margin-top: 0;
}


.cresud {
  display: block;
}

.brasilagro-logo img {
  float: left;
  height: 70px;
  margin-top: 15px;
  margin-left: 10px;
}

.cresud-logo img {
  float: right;
  height: 70px;
  margin-right: 10px; 
}